@import './utils/fonts';

@import './utils/variables';

@import './base.scss';

@import './utils/utilus.scss';

@import './components/button.scss';

@import './components/header';

@import './components/hero-section';

@import './components/links';

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

/* buttom */


/* Advantages list */
.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;

}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;

}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-section {
    padding-top: 96px;
    gap: 100px;
}

.traditions-text.limited {
    max-width: 340px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

/* Chef section */
.chefs-title {
    position: relative;
    max-width: 520px;
    margin: 0 auto 80px;

}

.chefs-title::before,
.chefs-title::after {
    position: absolute;
    bottom: 24px;
    display: block;
    width: 352px;
    border: 0px solid var(--color-primary-light);
    content: '';

}

.chefs-title::before {
    left: 0;
}

.chefs-title::after {
    right: 0;

}

.chefs-list {
    display: flex;

    gap: 40px 30px;
}

.chefs-item {
    flex-basis: calc(100% - 30px / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

/* Formats section */

.formats-container {
    display: flex;
    gap: 32px;
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    border-radius: 16px;
    transition: transform 0.3s;

}

.format-card:hover {
    transform: scale(1.05);
}

.formats-title {
    margin-bottom: 80px;
   
}

.format-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.format-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}

/* carousel*/

.carousel-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.carousel-buttom:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.carousel-buttom.next {
    transform: rotate(180deg);
}

/* Contact section */
.contacts-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
}

/* Footer */

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.footer {
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-before,
.footer-after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: ''
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-big.png');
}

/* address */

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}


.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

/* Form */

.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
}




.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
}



.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terns {
    margin: 0 auto;
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
background-color: var(--color-secondary-dark);
}

.checkbox-label {
padding-left: 24px;
}

.checkbox-labegil::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */