@import './utils/fonts';

@import './utils/variables';

@import './base.scss';

@import './utils/utilus';
@import './utils/mixins';
@import './utils/texts';


@import './components/button.scss';
@import './components/input.scss';
@import './components/links';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/formats-section';
@import './layouts/form-terms';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/modal';
@import './layouts/sections';
@import './layouts/traditions-section';




.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}



/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
background-color: var(--color-secondary-dark);
}

.checkbox-label {
padding-left: 24px;
}

.checkbox-labegil::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */