.input {
    position: relative;

    &___label {
        position: absolute;
        top: 16px;
        left: 42px;
    }

    &___control {
        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid var(--color-secondary-dark);
        border-radius: 8px;
        background-color: transparent;
    }

    &:focus {
        border-color: var(--color-brand-normal);
        outline: none;
    }

    &::placeholder {
        color: var(--color-secondary-dark);
        font-size: 16px;
        line-height: 1.17;
    }

    &:focus::placeholder {
        color: var(--color-primary-dark);
    }
}


.form-terns {
    margin: 0 auto;
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

    &______link {
        color: var(--color-primary-dark);
        text-underline-offset: 2px;
    }
}