.contacts-section {
  padding-bottom: 96px;

  &___container {
    display: flex;
    gap: 32px;
  }

  &___title {
    margin-bottom: 16px;
  }
  &___form-field {
    margin-bottom: 24px;
  }
  &___button {
    display: block;
    margin: 0 auto 16px;
  }
  &___map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
  }
}
